body {
    margin: 10px;
    padding: 0px;
    font-family: 'Montserrat';
    background-color: #000000;
}

.logo {
    text-align: center;
    color: #00ffff;
}

a {
    color: #00ffff;
    text-decoration: none;
}

.navigationbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161616;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.navigationbar li {
    border-right:1px solid #00ffff;
    text-align: center;
    color: #00ffff
}

.navigationbar li:last-child {
    border-right: none;
}

.active {
    background-color: #00ffff;
    color: #000000;
}

.navigationbar li a {
    display: block;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}

.navigationbar li a:hover:not(.active) {
    background-color: #00ffff;
    color: #000000;
}

#logo {
    height: 100px;
    margin: 0 auto;
    display: block;
}

.homepage button:hover {
    cursor: pointer;
    background-color: #00ffff;
    color: #000000;
}

p {
    color: red;
}

@media (min-width: 600px) {
    .navigationbar {
        flex-direction: row;
    }
    .navigationbar li {
        font-size: 14px;
        text-align: left;
    }
}

p {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, table {
    color: #ff0000;
}

table {
    height: 150px;
    text-align: left;
    color: #00ffff;
    border: #00ffff;
    border: #00ffff;
    width: 950px;
}

.notfound {
    text-align: center;
}

button {
    background-color: #161616;
    border: none;
    padding: 5px 10px;
    color: #00ffff;
    font-family: 'Montserrat';
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
}

button:hover {
    background-color: #00ffff;
    border: none;
    padding: 5px 10px;
    color: #000000;
    font-family: 'Montserrat';
    text-decoration: none;
    text-align: center;
}