@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 5px;
    color: #00ffff;
    font-family: 'Montserrat', 'Arial';
}

h4 {
    margin: 0;
    text-align: center;
    font-weight: normal;
}

a {
    font-size: 12px;
    font-weight: 300;
}

#by {
    font-weight: normal;
}

hr {
    border: none;
    border: 1px solid rgba(0, 255, 255, 0.18);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    background-color: #000000;
    backdrop-filter: blur(7px);
}

::-webkit-scrollbar-thumb {
    background-color: #0063635e;
    border: 1px solid rgba(0, 255, 255, 0.18);
    border-radius: 12px;
    backdrop-filter: blur(7px);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0083835e;
}

::-webkit-scrollbar-track {
    background: #0000005e;
}

::-webkit-scrollbar-button {
    background-color: #0063635e;
    border: 1px solid rgba(0, 255, 255, 0.18);
}

::-webkit-scrollbar-button:hover {
    background-color: #0083835e;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('../../../images/scrollbar/scrollbar_up_arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('../../../images/scrollbar/scrollbar_down_arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement,
::-webkit-scrollbar-button:single-button:horizontal:increment {
    display: none;
}