body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1111115e;
    backdrop-filter: blur(7px);
    align-items: center;
    justify-content: center;
}

#logo {
    height: 45px;
    margin: 10px;
    margin-left: 10px;
    display: flex;
}

@media (min-width: 600px) {
    .header {
        justify-content: left !important;
    }
}